:root { --cor-de-fundo: #1E1E1E; --verde: #6FFF57; --branco: #FFFFFF; --botao-ativo:
    #3A375E; --botao-inativo: rgba(58, 55, 94, 0.5); --texto-fundo: rgba(58, 55, 94, 0.3); }
   body { background-color: var(--cor-de-
    fundo);    color: var(--branco); font-family:sans-serif; }
   
    .reddit-sans-<uniquifier> {
      font-family: "Reddit Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: italic;
    }
    .conteudo-principal { display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        }
        <h2 class=”titulo-principal”>Meus Objetivos do ano<span>_<span></h2>